*{
    margin: 0;
    padding: 0;

}

body{
    color: #000;
    background-color: #fff;
    font-family: Futura,sans-serif;
    font-size: 1.05rem;
}
.container{}
header{}
.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 16px;
    background: white;
}
.header_social{
    position: fixed;
    left: 0;
    padding-left: 35px;
    font-size: 20px;
}
nav{}
.header_social ul{display: flex;list-style: none;}
.header_social ul li{}
.header_social ul li i{display: inline-block;padding: 3px;margin: 3px;font-size: 18px;}

div{}
.logo{display: flex;align-items: center;}
.logo i{font-size: 30px;}
.logo a{text-decoration: none;color: black;font-weight: bold;font-size: 20px;margin-left: 5px;}
.user_link{
    position: fixed;
    right: 0;
    padding-right: 35px;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.user_link ul{display: flex;list-style: none;}
.user_link ul li{}
.user_link ul li i{display: inline-block;padding: 3px;margin: 3px;font-size: 18px;}
.main-nav{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.main-nav ul{display: flex;list-style: none;background-color: black;justify-content: center;}
.main-nav ul li{
            padding: 12px;
            margin: 12px;
            text-transform: uppercase;
            font-size: 16px;
            color: white;
}
.banner-section{}
.banner{
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    background-position: center center;
    background-color: #000;
    background-blend-mode: multiply;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.banner img{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
    object-fit: cover;
}
.banner .col{
    position: relative;
    z-index: 1;
}
.content{
    padding: 30px 100px;
}
.banner h1{
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 2.75rem;
    line-height: 1.2;
    font-family: Futura, sans-serif;
}

.middle-section-one{}
.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex .col-full {
    width: 100%;
}
.heading {
    padding: 70px 0 70px;
    text-align: center;
}
.heading h2 {
    padding-bottom: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 1.2;
    font-family: Futura, sans-serif;
}
.flex .col {
    width: 50%;
}

.paragraph {
    padding: 30px 100px;
}

.paragraph p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}
.content-image-right {}
.content-image-right img{
    display: block;
    height: 380px;
    width: 100%;
    object-fit: cover;
}


footer {}
.footer-section {
    background-color: #000;
    text-align: center;
    position: relative;
    z-index: 100;
    padding: 60px;
}
.footer-section ul{}
.footer-section ul li{display: inline-block;margin-bottom: 0;}
.footer-section ul li a{color: #fff;text-decoration: none;margin: 15px;text-transform: uppercase;font-size: 14px;}
